.poorFeature {
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: "Microsoft YaHei", "微软雅黑";
    background-color: #E5E5E5;
}
.poorFeature .top,.center, .bottom {
    height: 15rem;
    width: 98.5%;
    margin: 0.5rem;
    margin-bottom:0px;
}
.poorFeature .poorBox {
    height: 100%;
    width: 32.9%;
    background-color: #fff;
    margin-right: 0.4rem;
}
.poorFeature .poorBox:last-child {
    margin-right: 0px;
}
.poorFeature #poorCharts1,#poorCharts2,#poorCharts3,#poorCharts4,#poorCharts5,#poorCharts6,#poorCharts7,#poorCharts8,#poorCharts9{
    height: 100%;
    width: 100%;
}