html,body{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.pageInfo{
    height: 3%;
    padding: 0.3rem  0.5rem 0.3rem 0.5rem;
    color: #807E7F;
}
.pageInfo i{
    height: 17px;
    width: 15px;
    float: left;
    display: inline-block;
    margin-right:0.3rem;
    background: url("../../image/cszc/travelHome.png") no-repeat center;
}
.pageInfo span{
    line-height:1rem;
    color: #807E7F;
} 
.communal{
    height: 97%;
    width: 100%;
    overflow: hidden;
    background: #e5e5e5;
    position: relative;
    z-index��-1111;
}
#map{
	height: 100%;
    width: 100%;
    overflow: hidden;
    background: #e5e5e5;
    position: relative;
    z-index��11;
}
.communal .title{
    height: 3.2rem;
    width: 50%;
    position: absolute;
    top:1rem;
    left: 50%;
    margin-left: -25%;
    z-index:999;
}
.communal #title a.changeColor{
    color: #fff;
    font-weight: 700;
}
.communal .title a:hover{
    background: #99E5FF;
    box-shadow: inset 0 0 1rem 0.1rem #48A3C9;
    transition:  all 1s;
}
.communal .title li{
    float: left;
    margin: 0 0.4rem;
    height: 100%;
    width: 3.2rem;
    border-radius: 50%;
    background: #fff;
    font-size: 14px;
    text-align: center;
    box-shadow: inset 0 0 1rem 0.1rem #48A3C9;
    animation:bounceIn 2s linear infinite alternate;
    -moz-animation:bounceIn 2s linear infinite alternate;
    -o-animation:bounceIn 2s linear infinite alternate;
    -webkit-animation:bounceIn 2s linear infinite alternate;
}
.communal .title li a{
    color: #25313F;
    display: table;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    font-size: 14px;
    text-align: center;
    padding-top: 0.6rem;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -o-box-sizing:border-box;
    -ms-box-sizing:border-box;
}
@-webkit-keyframes bounceIn {
    from, 20%, 40%, 60%, 80%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
        -webkit-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
    }

    80% {
        -webkit-transform: scale3d(.97, .97, .97);
        transform: scale3d(.97, .97, .97);
    }

    to {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes bounceIn {
    from, 20%, 40%, 60%, 80%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
        -webkit-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
    }

    80% {
        -webkit-transform: scale3d(.97, .97, .97);
        transform: scale3d(.97, .97, .97);
    }

    to {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.bounceIn {
    -webkit-animation-name: bounceIn;
    animation-name: bounceIn;
}
.communal #title li:nth-child(1){
    line-height: 2rem;
}
.communal #title li:nth-child(2){
    line-height: 2rem;
}
.communal .title .shaw{
    background-color: #99E5FF;
}
.communal .charts{
    position: absolute;
    bottom: 0.6rem;
    right: 0.6rem;
    height: 40%;
    width: 30%;
    background-color: rgba(66,75,90,.9);
    overflow: hidden;
    z-index:9999;
    border: 1px solid rgba(66,75,90,1);
}
#charts1,#charts2,#charts3,#charts4,#charts5,#charts6,#charts7,#charts8{
    height: 100%;
    width: 100%;
}
.communal .time{
    height: 340px;
    width: 30px;
    position: absolute;
    top:50%;
    left: 2rem;
    margin-top: -170px;
    z-index: 999;
}
.communal .time ul{
    height: 238px;
    width: 4px;
    background-color: #25313F;

}
.communal .time li{
    color: #25313F;
    margin-top: 24px;
    position: relative;
    width: 100px;
    left: -6px;
    top: 20px;
}
.communal .time ul i{
    display: inline-block;
    height: 16px;
    width: 16px;
    border-radius:50%;
    background: #25313F;
}
.communal .time ul span{
    font-size: 16px;
}
.communal .timeTree .top,.bottom,.btn{
    height: 24px;
    width: 24px;
    cursor: pointer;
}
.communal .timeTree .top{
    position: absolute;
    top: -6px;
    left: -8px;
    background: url('../image/timeTop.png') no-repeat center;
}
.communal .timeTree .bottom{
    background: url('../image/timeBottom.png') no-repeat center;
    position: absolute;
    bottom: 50px;
    left: -9px;
}
.communal .timeTree .btn{
    background: url('../image/begin.png') no-repeat center;
    position: absolute;
    bottom: 16px;
    left: -8px;
}
.communal .timeTree .top{
    position: absolute;
    top: -6px;
    left: -10px;
    background: url('../../image/cszc/timeTop.png') no-repeat center;
}
.communal .timeTree .bottom{
    background: url('../../image/cszc/timeBottom.png') no-repeat center;
    position: absolute;
    bottom: 50px;
    left: -10px;
}
.communal .timeTree .btn{
     background: url('../../image/cszc/begin.png') no-repeat center;
    position: absolute;
    bottom: 16px;
    left: -8px;
 }
#pie{
    height: 22px;
    width: 22px;
    border-radius: 50%;
    background: #25A4DB;
    position: absolute;
    top: 0px;
    margin-top:44px;
    left: -9px;
    z-index: 99;
}