<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <context-param>
    <param-name>webAppRootKey</param-name>
    <param-value>csyy.root</param-value>
  </context-param>
  <context-param>
    <description>log4j配制文件路径</description>
    <param-name>log4jConfigLocation</param-name>
    <param-value>classpath:log4j.properties</param-value>
  </context-param>
  <context-param>
    <description>
			多久刷新一次log4j配置,这里设置1小时,单位:毫秒
		</description>
    <param-name>log4jRefreshInterval</param-name>
    <param-value>3600000</param-value>
  </context-param>
  <context-param>
    <description>spring bean配制文件路径</description>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:spring/spring-*.xml</param-value>
  </context-param>
  <context-param>
    <description>系统全局配制文件</description>
    <param-name>systemConfigLocation</param-name>
    <param-value>/WEB-INF/classes/config.properties</param-value>
  </context-param>
  <listener>
    <description>加载log4j</description>
    <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
  </listener>
  <listener>
    <description>系统全局初始化</description>
    <listener-class>com.cloud.icenter.common.listener.ApplicationListener</listener-class>
  </listener>
  <listener>
    <description>加载spring</description>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
  </listener>
  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>forceEncoding</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <description>权限验证过滤器</description>
    <filter-name>authFilter</filter-name>
    <filter-class>
			com.cloud.icenter.common.filter.AuthFilter
		</filter-class>
    <init-param>
      <description>配置排除验证的URL地址--支持正则表达式,多个地址以逗号隔开</description>
      <param-name>exclude-url</param-name>
      <param-value>
				/skins/.*,
			   .*\.(js|css|png|jpg|gif|json|eot|svg|ttf|woff|woff2|otf|zip),
			   /|/index.jsp|/login,/|/index.jsp|/cp,/ssologin.*,/serverLogSocket,/monitorHome,/monitorDetail,/jobLogDetail,/acceptPublicKey,/datasync/.*,
			   /getPublicKey,/csv,/RSAlogin,/RSAloginCp,/ValidateCode,/services.*,/CatalogServiceAPI.*,/timeout/test/.*|/demo.*,
			   /SSOLoginSuccess,/system/syncinterface/.*,/Api,/system/user.*,/dp/.*,/slp/.*,/lz/.*,
			   /dp_*/.*,/slp_whly/.*,/lz_whly/.*,/big_whly/.*,/big_nync/.*,/plantingsales/.*,/specialproduct/.*,
			   /plantingbasic/.*,/animalhusbandry/.*,/lz_zwfw/.*,/cp,/whly/.*,/transportation/.*,/cardtype/.*,/bus/.*,/locate/.*
			</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>authFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>skinFilter</filter-name>
    <filter-class>com.cloud.icenter.common.filter.SkinFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>skinFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>StartAction</servlet-name>
    <servlet-class>com.cloud.icenter.common.servlet.StartAction</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>spring-mvc</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:spring/servlet.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>spring-mvc</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>120</session-timeout>
  </session-config>
  <welcome-file-list>
  	<welcome-file>index.html</welcome-file>
  	<welcome-file>index.htm</welcome-file>
  	<welcome-file>index.jsp</welcome-file>
  	<welcome-file>default.html</welcome-file>
  	<welcome-file>default.htm</welcome-file>
  	<welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <jsp-config>
    <taglib>
      <taglib-uri>/icenter-tags</taglib-uri>
      <taglib-location>/WEB-INF/tld/icenter-tags.tld</taglib-location>
    </taglib>
  </jsp-config>
  <servlet>
    <servlet-name>ApiServlet</servlet-name>
    <servlet-class>com.cloud.icenter.gis.common.ApiServlet</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApiServlet</servlet-name>
    <url-pattern>/Api</url-pattern>
  </servlet-mapping>
</web-app>